<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View page </title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
   
   <body>
  <div class="container">
    <h2><%= locals.blog.title %></h2>
    <h4 style="color: #555;"><%= locals.blog.subtitle %></h4>
    <div style="background: #f9f9f9; padding: 16px; border-radius: 8px; margin-top: 16px;">
      <%= locals.blog.content %>
    </div>
    <a href="/">Back to Dashboard</a>
  </div>
</body>
</body>
</html>